menu "Application Framework"


config APP_FRM_PROV_WPS
       bool "WPS Provisioning support"
       #delete by nzy 20150708
       #select WPS2 
       help
         This option enables the use of WPS in Provisioning in addition
	 to the provisioning network selected above.
	 Say Y if the application framework should also enable WPS in
	 provisioning mode.


endmenu
