# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

/wmsdk_bundle-2.13.82/bin
/wmsdk_bundle-2.13.82/output
/wmsdk_bundle-2.13.82/boot2-1.0.23/bin
*.d
*.o
*.a
*.bin
*.map
*.ftfs
*.axf
*.dep
*.txt
/wmsdk_bundle-2.13.82/sample_apps/tuya_user/wifi_sdk/src/backup
wmsdk_bundle-2.13.82/sample_apps/tuya_user/dev_access/xf_oil_heater/src/board.c
wmsdk_bundle-2.13.82/flashpatch/config.txt
