# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

wmsdk_bundle-2.13.82/bin
wmsdk_bundle-2.13.82/output
wmsdk_bundle-2.13.82/boot2-1.0.23/bin
wmsdk_bundle-2.13.82/sample_apps/tuya_user/wifi_sdk/src/backup
wmsdk_bundle-2.13.82/sample_apps/tuya_user/dev_access/xf_oil_heater/src/board.c
wmsdk_bundle-2.13.82/flashpatch/config.txt
wmsdk_bundle-2.13.82/wmsdk-2.13.82/src/app_framework/libapp_framework.a
wmsdk_bundle-2.13.82/wmsdk-2.13.82/src/core/cli/libcli.a
wmsdk_bundle-2.13.82/wmsdk-2.13.82/src/core/diagnostics/libdiagnostics.a
wmsdk_bundle-2.13.82/wmsdk-2.13.82/src/core/healthmon/libhealthmon.a
wmsdk_bundle-2.13.82/wmsdk-2.13.82/src/core/mdev/libmdev.a
wmsdk_bundle-2.13.82/wmsdk-2.13.82/src/core/overlays/liboverlays.a
wmsdk_bundle-2.13.82/wmsdk-2.13.82/src/core/partition/libpart.a
wmsdk_bundle-2.13.82/wmsdk-2.13.82/src/core/pwrmgr/libpwrmgr.a
wmsdk_bundle-2.13.82/wmsdk-2.13.82/src/core/util/libutil.a
wmsdk_bundle-2.13.82/wmsdk-2.13.82/src/wlan/wm_supplicant/libwm_supplicant.a
wmsdk_bundle-2.13.82/wmsdk-2.13.82/src/wlan/wlcmgr/libwlcmgr.a
wmsdk_bundle-2.13.82/wmsdk-2.13.82/src/wlan/wifidriver/libwifidriver.a
wmsdk_bundle-2.13.82/wmsdk-2.13.82/src/wlan/btdriver/libbtdriver.a
wmsdk_bundle-2.13.82/wmsdk-2.13.82/src/platform/os/freertos/libos.a
wmsdk_bundle-2.13.82/wmsdk-2.13.82/src/platform/net/lwip/libnet.a
wmsdk_bundle-2.13.82/wmsdk-2.13.82/src/platform/arch/mc200/libarch.a
wmsdk_bundle-2.13.82/wmsdk-2.13.82/src/middleware/xz/libxz.a
wmsdk_bundle-2.13.82/wmsdk-2.13.82/src/middleware/wps/libwps.a
wmsdk_bundle-2.13.82/wmsdk-2.13.82/src/middleware/websockets/libwebsocket.a
wmsdk_bundle-2.13.82/wmsdk-2.13.82/src/middleware/ttcp/libttcp.a
wmsdk_bundle-2.13.82/wmsdk-2.13.82/src/middleware/tls/libtls.a
wmsdk_bundle-2.13.82/wmsdk-2.13.82/src/middleware/telnetd/libtelnetd.a
wmsdk_bundle-2.13.82/wmsdk-2.13.82/src/middleware/sysinfo/libsysinfo.a
wmsdk_bundle-2.13.82/wmsdk-2.13.82/src/middleware/provisioning/libprovisioning.a
wmsdk_bundle-2.13.82/wmsdk-2.13.82/src/middleware/rfget/librfget.a
wmsdk_bundle-2.13.82/wmsdk-2.13.82/src/middleware/psm/libpsm.a
wmsdk_bundle-2.13.82/wmsdk-2.13.82/src/middleware/mdns/libmdns.a
wmsdk_bundle-2.13.82/wmsdk-2.13.82/src/middleware/json/libjson.a
wmsdk_bundle-2.13.82/wmsdk-2.13.82/src/middleware/httpd/libhttpd.a
wmsdk_bundle-2.13.82/wmsdk-2.13.82/src/middleware/httpc/libhttpclient.a
wmsdk_bundle-2.13.82/wmsdk-2.13.82/src/middleware/ftfs/libftfs.a
wmsdk_bundle-2.13.82/wmsdk-2.13.82/src/middleware/ezxml/libezxml.a
wmsdk_bundle-2.13.82/wmsdk-2.13.82/src/middleware/dhcpd/libdhcpd.a
wmsdk_bundle-2.13.82/wmsdk-2.13.82/src/middleware/crypto/mrvlcrypto/libmrvlcrypto.a
wmsdk_bundle-2.13.82/wmsdk-2.13.82/src/middleware/crypto/libwmcrypto.a
wmsdk_bundle-2.13.82/wmsdk-2.13.82/src/middleware/crypto/aescrypto/libaescrypto.a
wmsdk_bundle-2.13.82/wmsdk-2.13.82/src/libc/src/libc.a
wmsdk_bundle-2.13.82/wmsdk-2.13.82/src/drivers/peripherals/xflash/libxflash.a
wmsdk_bundle-2.13.82/wmsdk-2.13.82/src/drivers/peripherals/spi_flash/libspiflash.a
wmsdk_bundle-2.13.82/wmsdk-2.13.82/src/drivers/peripherals/lcd/liblcd.a
wmsdk_bundle-2.13.82/wmsdk-2.13.82/src/core/wmstdio/libwmstdio.a
wmsdk_bundle-2.13.82/wmsdk-2.13.82/src/core/wmtime/libwmtime.a
wmsdk_bundle-2.13.82/wmsdk-2.13.82/src/drivers/mc200/libdrv.a
wmsdk_bundle-2.13.82/wmsdk-2.13.82/src/drivers/peripherals/dtp_driver/libdtp.a
*.bin
*.o
*.d
*.axf
*.ftfs
*.map