source [find target/mc200.cfg]
source [find target/mc200_debug.cfg]

### load() -- load any generic application axf image to ram and run ###
#
# 1. Reset and halt processor in a known state
# 2. Load axf image into internal ram of target device
# 3. Verify loaded axf image
# 4. Pass control to loaded image using its entry point address
#
# NOTE: Entry point address of axf image can be found using
# command: readelf -h <image>

proc load { img entry_point } {
	# make sure the CPU is stopped and in a known state
        reset halt
        soft_reset_halt

        # load the axf image
        load_image $img
	# verify the loaded image
        verify_image $img

        # execute the loaded image
        resume $entry_point
}

### sh_load() -- load flashprog.axf (flash tool) image to ram and run ###
#
# 1. Reset and halt processor in a known state
# 2. Enable arm semihosting
# 3. Load axf image into internal ram of target device
# 4. Verify loaded axf image
# 5. Pass control to loaded image using its entry point address
#
# NOTE: Entry point address of axf image can be found using
# command: readelf -h <image>

proc sh_load { img entry_point } {
	# make sure the CPU is stopped and in a known state
        reset halt
        soft_reset_halt

        # load the axf image
        load_image $img
	# verify the loaded image
        verify_image $img

        # enable semihosting by default (needed for flashprog)
        arm semihosting enable

        # execute the loaded image
	resume $entry_point
}
